extends layout

block content
	include header.jade

	.container
		.col-md-12
			h3	Resultados de búsqueda en Spotify para: "#{query}"
			each track in tracks
				.media
					.media-left
						img(src=track.cover, width=100, height=100)
					.media-body
						h4(class='media-heading') #{track.artist_name} - #{track.song_name}
						p #{track.album_name}
			hr
			a(href='/', class='otherBtn') Realizar otra busqueda
			hr